.container {
	width: 100%;
	min-height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding: 10px;
}

.ToDo_wrapper,
.InProgress_wrapper,
.Done_wrapper {
	width: 32%;
	min-height: 60vh;
	display: flex;
	flex-direction: column;
	padding: 5px;
}

.ToDo_wrapper{
	border-top: 5px solid #FFB300;
}

.InProgress_wrapper{
	border-top: 5px solid #29B6F6;
}

.Done_wrapper{
	border-top: 5px solid #8BC34A;
}

.ToDo_wrapper > h2,
.InProgress_wrapper > h2,
.Done_wrapper > h2 {
	text-align: center;
	text-transform: capitalize;
}

.ToDo_wrapper > h2{
	color: #FFB300;
}

.InProgress_wrapper > h2{
	color: #29B6F6;
}

.Done_wrapper > h2{
	color: #8BC34A;
}

.ToDo_item {
	background-color: #eee3cb;
}
.InProgress_item {
	background-color: #d2daff;
}
.Done_item {
	background-color: #7fb77e;
}

.ToDo_container,
.InProgress_container,
.Done_container {
	width: 100%;
	min-height: 55vh;
	display: flex;
	flex-direction: column;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 5px;
}

.ToDo_item,
.InProgress_item,
.Done_item {
	width: 90%;
	border-radius: 5px;
	margin-bottom: 10px;
	padding: 15px;
}